extends layout

// will show all products currently available on our site. 
// Each product will have a thumbnail image, name, and price 
// displayed on the catalog page. 
// Clicking any one product takes you to the products page. 
