extends layout

block content
  div(class='slogan card card-body')
    h1 We've Got You Covered!
  div(class='grid')
    //- div(class="slideshow-container")
    //-   div(class="mySlides fade")
    //-     div(class="numbertext") 1/3
    //-       img(src="960x0.png" style="width:100%")
    //-       div(class="text") Caption Text

    //-   div(class="mySlides fade")
    //-     div(class="numbertext") 2/3
    //-       img(src="img2.jpg" style="width:100%")
    //-       div(class="text") Caption Two

    //-   div(class="mySlides fade")
    //-     div(class="numbertext") 3/3
    //-       img(src="img3.jpg" style="width:100%")
    //-       div(class="text") Caption Three

    //-       a(class="prev" onclick="plusSlides(-1)") &#10094;
    //-       a(class="next" onclick="plusSlides(1)") &#10095;

    //-   div(style="text-align:center")
    //-     span(class="dot" onclick="currentSlide(1)")
    //-     span(class="dot" onclick="currentSlide(2)")
    //-     span(class='dot' onclick="currentSlide(3)")
    //-     div(class='content')
    div(class='homePage')
      h2 Featured Product of the Week:  
        br
        br
        if product.length == 0
          p No product to display...
        else
          each val in product
            div(class='product', onClick="location.href='/catalog';")
              h3=val.title
              div(class='content')
                  - var pic= val.img
                  img(src=pic, alt="Your Browser Doesn't Support Our Image, Sorry.")
                  p.productPart Sold By: #{val.seller}
      













      



