doctype html
html
  head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='grid')
      h1= title
        nav#navbar-default  
      div.container-fluid
        ul
          li
            a(href='/') Home
          li
            a(href='/catalog') Product Catalog
          li
            a(href='/login') Login
          li
            a(href='/signup') Sign Up
    block content 
    footer#footer
      nav#navbar-default
    div.container-fluid
        ul
          li
            a(href='/') Home
          li
            a(href='/catalog') Product Catalog
          li
            a(href='/login') Login
          li
            a(href='/signup') Sign Up
        p Copyright (c) 2020 Corona & Sons, Inc.












  









