doctype html
html
  head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a.navButton(href='Home')
       // img(src='') // Corona & Sons logo
      a.navButton(href='Product Catalog')
        img(src='')
      a.navButton(href="Login/Sign Up")
        img(src='')
    block content
    footer
      p All original content on this page is &copy; 2020 Corona & Sons, Inc.
    //script(src='')  










